$primary: #0052cc;
$primary-hover: #0263f5;
$primary-color: #ffffff;

$warning: #ffab00;
$warning-hover: #fabc40;
$warning-color: #172b4d;

$danger: #de350b;
$danger-hover: #e2532f;
$danger-color: #ffffff;

$subtle-link-color: #8993a4;

$subtle-hover: rgba(9, 30, 66, 0.08);
$subtle-color: #42526e;

$link-color: #0747a6;

$disabled: rgba(9, 30, 66, 0.04);
$disabled-color: #a5adba;


$list: rgb(255, 255, 255);
$list-color: rgb(116, 114, 114);
$list-shodow: 10px 10px 0 0 rgb(238, 236, 236);
$list-button-color: rgb(94, 90, 90);
$list-menu: rgb(204, 197, 197);
$list-menu-border: 1px solid rgb(238, 231, 231);
$control-color: rgb(245, 243, 243);


